/* Основной стиль для всего документа */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

/* Стиль для контейнеров */
.container {
    text-align: center;
    width: 100%;
    max-width: 800px;
}

/* Стиль для кнопки Login */
.login-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #45a049;
}

/* Стиль для кнопки статистики */
.stats-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.stats-button:hover {
    background-color: #1976D2;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Стили для полей ввода в модальном окне */
.modal-content input[type="text"], .modal-content input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Стили для кнопок в модальном окне */
.modal-content button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-content button:hover {
    background-color: #45a049;
}

/* Стили для верхнего контейнера с кнопками */
.button-container {
    display: flex;
    flex-direction: column; /* Направление на вертикальное */
    align-items: center; /* Центрируем кнопки */
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 0; /* Убираем внешние отступы, чтобы не увеличивать расстояние вокруг всего контейнера */
}

/* Стили для верхних кнопок */
.button-container button {
    margin: 5px 0; /* Вертикальные отступы между кнопками */
    width: 100%; /* Кнопки занимают всю ширину контейнера */
}


/* Стили для текста описания */
.welcome-message {
    margin-top: 20px; /* Отступ сверху для текста */
    padding: 0 10px;
    max-width: 400px;
    margin: 20px auto; /* Центрируем текст и добавляем отступы сверху и снизу */
    text-align: center;
}

/* Стили для контейнера с нижними кнопками */
.lower-buttons-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lower-buttons-container button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
}

/* Основной стиль для кнопок */
.app-button {
    font-size: 24px;
    padding: 20px;
    border: none;
    width: 100%;
    height: 100px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.app-button:hover {
    background-color: #45a049;
}

/* Стили для сетки с кнопками */
.button-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

/* Стили для кнопок диапазонов */
.range-button, .study-button, .equity-button, .diap-answer-button {
    font-size: 12px;
    padding: 20px;
    background-color: #ff7043;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
    height: auto;
}

.range-button:hover, .study-button:hover, .equity-button:hover, .diap-answer-button:hover {
    background-color: #ff5722;
}

/* Инструкция для изучения */
.study-instruction {
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
}

/* Стили для кнопки назад */
.back-button {
    margin-top: 20px;
}

/* Стили для кнопки завершения */
.end-button {
    margin-top: 20px;
}

/* Стили для просмотра изображений */
#image-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1001;
}

#displayed-image {
    max-width: 90%;
    max-height: 80%;
    cursor: pointer;
    z-index: 1002;
}

.image-name {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
    z-index: 1002;
}

/* Стили для переключателей */
.switch-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.switch-label {
    margin-right: 20px;
    min-width: 100px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 45px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 39px;
    width: 39px;
    left: 6px;
    bottom: 6px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Стиль для отключенных кнопок */
button.disabled {
    pointer-events: none;
    opacity: 0.6;
}

/* Стили для тестов с изображениями */
#image-test img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.answer-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.answer-buttons button {
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answer-buttons button.correct {
    background-color: #4CAF50;
    color: white;
}

.answer-buttons button.incorrect {
    background-color: #f44336;
    color: white;
}

.answer-buttonsDiap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.answer-buttonsEquity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.answer-buttonsDiap button, .answer-buttonsEquity button {
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answer-buttonsDiap button.correct, .answer-buttonsEquity button.correct {
    background-color: #4CAF50;
    color: white;
}

.answer-buttonsDiap button.incorrect, .answer-buttonsEquity button.incorrect {
    background-color: #f44336;
    color: white;
}

/* Стиль для отключенных кнопок */
.disabled-button {
    background-color: #d3d3d3;
    color: #6c757d;
    cursor: not-allowed;
    position: relative;
    pointer-events: none;
}

.disabled-button::after {
    content: "soon";
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    color: #6c757d;
}

/* Стили для таблицы статистики */
.stats-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.stats-table th, .stats-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.stats-table th {
    background-color: #f2f2f2;
}

.stats-table td {
    background-color: #ffffff;
}

/* Стили для тестов по эквити */
.equity-test-button {
    font-size: 16px;
    padding: 10px;
    background-color: #8BC34A;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
    height: auto;
}

.equity-test-button:hover {
    background-color: #7CB342;
}

.equity-answer-button {
    font-size: 14px;
    padding: 10px;
    margin: 5px;
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.equity-answer-button:hover {
    background-color: #1976D2;
}

.equity-eye-button {
    font-size: 14px;
    padding: 10px;
    margin: 5px;
    background-color: #2196F3;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.equity-eye-button:hover {
    background-color: #1976D2;
}

/* Стили для просмотра изображений */
#image-viewer-equity {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

#overlay-equity {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1001;
}

#displayed-equity-image {
    max-width: 90%;
    max-height: 80%;
    cursor: pointer;
    z-index: 1002;
}

.previous-question-info {
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
}

/* Анимация для открытия и закрытия списков */
.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.collapsible-content.expanded {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
}

.collapsible-content.collapsed {
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

/* Стили для строк с ответами */
.answer-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Стили для кнопок ответа */
.app-buttonHH50 {
    font-size: 18px;
    padding: 30px 15px;
    height: 80px;
    border: none;
    background-color: #ff7043;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 40%;
    text-align: center;
}

/* Стиль для правильного ответа */
.app-buttonHH50.correct {
    background-color: #4CAF50;
}

/* Стиль для неправильного ответа */
.app-buttonHH50.incorrect {
    background-color: #f44336;
}

/* Расположение кнопок в последней строке */
.answer-row:nth-child(3) button {
    flex: 1 0 calc(50% - 10px);
}

/* Стиль для правильного ответа */
.correctHH50 {
    background-color: #4CAF50 !important;
    color: white;
}

/* Стиль для неправильного ответа */
.incorrectHH50 {
    background-color: #f44336 !important;
    color: white;
}

/* Сетка для кнопок с ответами */
.grid-containerHH50 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
}

/* Стили для кнопок управления */
.control-buttonsHH50 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.control-buttonsHH50 .app-buttonHH50 {
    width: 48%;
    height: 60px;
}

/* Стили для кнопок ответа */
.answer-buttonHH50 {
    font-size: 18px;
    padding: 30px 15px;
    height: 80px;
    border: none;
    background-color: #aaa7a7;
    color: rgb(17, 17, 17);
    cursor: pointer;
    transition: background-color 0.3s;
    width: 90%;
    text-align: center;
}

/* Контейнер для кнопок управления */
#test-menuHH50 .app-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Стили для кнопок в контейнере управления */
#test-menuHH50 .app-button-container .app-buttonHH50 {
    flex: 1;
    margin: 0 10px;
    height: 60px;
    background-color: #ff7043;
    color: white;
    border: none;
    cursor: pointer;
}

.range-select {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.range-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}

.range-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.range-group:last-child {
    margin-right: 0;
}

.label-text {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/* Общие стили для кнопок */
button {
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button.green {
    background-color: #28a745;
}

button.grey {
    background-color: #cccccc;
    color: #666666;
}

